<div class="container">
    <div class="row">
        <div class="col-sm-4 py-2">
            <div class="card border-0 text-center">

                <img class="card-img-top" src="./assets/img/user.png" alt="">

                <div class="card-body">

                    <h4 class="card-title">{{user.name}}</h4>

                    <h6 class="card-subtitle mb-2 text-muted">E-mail:</h6>
                    <p class="card-text"> {{user.email}} </p>

                    <h6 class="card-subtitle mb-2 text-muted">Dirección:</h6>
                    <p class="card-text"> {{user.address.street}}, {{user.address.suite}}, {{user.address.city}}</p>
                    <p class="card-text"> ZIP:
                        {{user.address.zipcode}}</p>

                    <h6 class="card-subtitle mb-2 text-muted"> Teléfono: </h6>
                    <p class="card-text"> {{user.phone}} </p>


                    <h6 class="card-subtitle mb-2 text-muted"> Sitio Web: </h6>
                    <p class="card-text"> {{user.website}} </p>


                    <h6 class="card-subtitle mb-2 text-muted"> Compañía: </h6>
                    <p class="card-text"> {{user.company.name}} </p>
                    <p class="card-text"> "{{user.company.catchPhrase}}" </p>

                </div>
            </div>
        </div>
    </div>
</div>