<div class="container">
    
    <div class="row">

        <div class="col-sm-4 py-2" *ngFor="let usuario of users, let i=index">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h3 class="card-title">{{usuario.username}}</h3>
                    <p class="card-text">Nombre: {{usuario.name}}</p>
                    <p class="card-text">E-mail: {{usuario.email}}</p>
                    <button type="button" class="btn btn-outline-light" (click)="verPerfil(i)">Ver Más</button>
                </div>
            </div>
        </div>

    </div>
</div>